@import (inline) "../node_modules/fixed-data-table/dist/fixed-data-table.css";

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-size: 16px;
  color: #fff;
}

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background: #4caee2;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-weight: normal;
}
